<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--    1.服务提供方在zookeeper中的“别名”-->
    <dubbo:application name="dubbo_consumer"/>
    <!--    2.注册中心的地址-->
    <dubbo:registry address="zookeeper://192.168.247.128:2181"/>
    <!--    3.扫描类（将什么包下的类作为服务提供类）-->
    <dubbo:annotation package="controller"/>
    <!-- 让监控 去注册中心 自动找服务 -->
    <dubbo:monitor protocol="registry"/>
    <!--默认是true:抛异常；false:不抛异常-->
    <!--    <dubbo:consumer check="false"/>-->
    <!--    设置相关方法重试次数，就不需要在service端全局设置了-->
    <dubbo:reference interface="service.HelloService" id="helloService"><!-- helloService代表远程获取helloService对象-->
        <dubbo:method name="sayHello" retries="3"/>
        <dubbo:method name="sayNo" retries="0"/>
    </dubbo:reference>
</beans>

